.login {
  display: flex;
  width: 100%;
  height: 100vh;
}

.login-left {
  display: flex;
  justify-content: space-between;
  width: 50%;
  position: relative;
}
.left-part {
  background-color: #397ded;
  width: 60%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.skew-part {
  width: 50%;
  transform: skew(-10deg);
  margin-left: -26px;
  background-color: #397ded;
  position: relative;
  left: -10%;
  z-index: -1;
}
.title {
  font-size: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60%;
  margin-left: 5rem;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: 0em;
  text-align: center;

}
.logo {
  display: flex;
  margin-left: 8%;
  margin-top: 5%;
  font-size: 1.2rem;
  color: white;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.015em;
  text-align: left;

}

/* Style for the right section containing the login form */
.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(248, 250, 255, 1);
  cursor: pointer; /* Add cursor pointer */
}

/* Style for the login container within the right section */
.login-container {
  width: 50%;
  height: auto;
  border-radius: 10px;
  border: 1px;
}

/* Style for the "Sign in" text */
.login-container span {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer; /* Add cursor pointer */
}

/* Style for the "Sign in to your account" text */
.login-container p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

/* Style for the "Sign in with Google" and "Sign in with Apple" sections */
.sign-google-apple {
  display: flex;
  justify-content: space-between;
  color: rgba(133, 133, 133, 1);
}

.sign-google-apple>div:last-child {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
  padding: 0 1rem;
  border-radius: 10px;
  cursor: pointer; /* Add cursor pointer */
}

.sign-google-apple img {
  width: 1rem;
  margin-right: 10px;
}

.sign-google-apple p {
  font-weight: bold;
  cursor: pointer; /* Add cursor pointer */
  padding-right: 10px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

.login-form-container {
  background-color: white;
  padding: 3rem;
  border-radius: 10px;
}

/* Style for the login form */
.login-form-container h2 {
  margin-bottom: 20px;
}

.loginForm {
  width: 100%;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(245, 245, 245, 1);
  border-radius: 10px;
  margin-top: 10px;
  background: rgba(245, 245, 245, 1);
  cursor: pointer; /* Add cursor pointer */
}

.loginForm > button {
  border: none;
  background-color: #4285f4;
  border: 1px solid #4285f4;
  border-radius: 10px;
  color: white;
  width: 100%;
  padding: 10px;
  padding-right: 30px;
  cursor: pointer; /* Add cursor pointer */
}

.forgot-password {
  color: rgba(52, 107, 212, 1);
  margin-bottom: 20px;
  cursor: pointer; /* Add cursor pointer */
}

.forgot-password a {
  text-decoration: none;
  color: #4285f4; /* Google blue color */
  cursor: pointer; /* Add cursor pointer */
}

.register-link {
  color: rgba(133, 133, 133, 1);
  margin-top: 20px;
}

.register-link a {
  text-decoration: none;
  color: #4285f4; /* Google blue color */
  cursor: pointer; /* Add cursor pointer */
}

.footer-logos {
  position: absolute;
  left: 20%;
  bottom: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2rem;
}

.footer-logos>a>img {
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 740px) {
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-left {
    display: none;
  }

  .login-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-form-container{
    width: 100%;
  }

  .sign-google-apple {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .login-container{
    margin-left: -5rem;
  }
}