.dashboard {
    display: flex;
    margin: 2rem;
    position: relative;
}



.navbar {
    background-color: rgba(66, 133, 244, 1);
    min-height: 100%;
    width: 280px;
    padding-right: 3rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}



.navbar-title {
    width: 123px;
    height: 44px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    margin: 4rem;
    margin-left: 3rem;
    margin-right: 0;
    cursor: pointer; /* Add cursor pointer */
}

.navbar-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.navbar-content-top {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.navbar-content-top>div {
    display: flex;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer; /* Add cursor pointer */
}

.navbar-content-top>div>img {
    width: 18px;
    height: 18px;
    margin-right: 1rem;
}

.navbar-content-bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer; /* Add cursor pointer */
}

.dashboard-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-top: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 1rem;
}

.header>div:nth-of-type(1){
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

.header>div:nth-of-type(1)>div{
    width: 138px;
    height: 29px;
    top: 71px;
    left: 390px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer; /* Add cursor pointer */
    
}

.header>div:nth-of-type(1)>img {
    color: rgba(66, 133, 244, 1);
    display: none;
    padding: 0;
}

.header-right {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}

.search-container {
    background-color: white;
    width: fit-content;
    color: rgba(133, 133, 133, 1);
    border-radius: 5px;
    cursor: pointer; /* Add cursor pointer */
    padding: 0.5rem 2rem;
    padding-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container>img {
    width: 13px;
    height: 13px;
    margin-left: 2rem;
    cursor: pointer; /* Add cursor pointer */
}

.addComponent {
    width: 43%;
    height: 256px;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    border: 3px solid rgba(98, 98, 98, 0.15);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer; /* Add cursor pointer */
}

.addComponent > h1 {
    font-family: Figtree;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #858585;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 0; /* Place it above other content */
    cursor: pointer;
  }

  .dashboard-bottom {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
  }
  

@media screen and (max-width: 740px){
    .addComponent {
        width: 100%;
        margin-top: 1rem;
    }

    .header>div:nth-of-type(1)>img {
        display: block;
    }

    .dashboard-component, .dashboard {
        margin-left: 1rem;
    }

    .search-container>div {
        display: none;
       
    }

    .search-container{
        background: none;
        padding: 0;
    }
    .search-container>img {
        float: right;
        width: 19px;
        height: 32px;
    }

    
}