.ring-chart {
    width: 45%;
    height: fit-content;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    border: 3px solid rgba(98, 98, 98, 0.15);
    margin: 2rem;
    margin-left: 1rem;
    position: relative;
    
}
.ring-chart > div:nth-of-type(2) {
    display:flex;
    gap: 5rem;
    margin-top: 2rem;
    justify-content: start;
    margin-left: -3rem;
}


.legends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin-left: -5rem;
}
.legend>div:nth-of-type(1) {
    display: flex;
    gap: 1rem;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

.legend>div:nth-of-type(2) {
    margin-left: 2rem;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;

}
.legend>div>div {
    width: 11px;
    height: 11px;
    background-color: red;
    border-radius: 50%;
}

.legend {
    display: block;
}

.ring-title {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

.ring-title>span:nth-of-type(1) {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.ring-title>span:nth-of-type(2) {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

}


